<!-- FOOTER SECTION -->
<footer id="contact">
  <section class="left-right-parent">
    <section class="left">
      <div class="text">
        <h3>Hi! Get in touch.</h3>

        <p>You'd be talking to me directly.</p>
      </div>

      <form action="/" method="POST" enctype="application/x-www-form-urlencoded">
        <section class="inputs">
          <div class="left">
            <label for="name">Your name:</label><br>
            <input type="text" id="name" name="name" required>
          </div>
          
          <div class="center">
            <label for="email">Email Address:</label><br>
            <input type="email" id="email" name="email" required>
          </div>
          
          <br />

          <div class="right">
            <label for="message">Your message:</label><br>
            <textarea id="message" name="message" required></textarea>
          </div>
        </section>
      
        <div class="btn">
          <button type="submit">Send</button>
        </div>
      </form>
    </section>

    <section class="right">
      <p>Social pages</p>

      <div class="sms">
        <a href="https://twitter.com/newagebrother" target="_blank">
          <img src="Images/twitter (1).svg" alt="twitter">
        </a>

        <a href="https://github.com/O-luwanifemi/" target="_blank">
          <img src="Images/github.svg" alt="github">
        </a>

        <a href="https://linkedin.com/" target="_blank">
          <img src="Images/linkedin.svg" alt="linkedin">
        </a>

        <a href="mailto: rashid.oluwaseun@yahoo.com" target="_blank">
          <img src="Images/mail.svg" alt="mail">
        </a>
      </div>
    </section>
  </section>

  <p>Copyright &copy; 2021 All rights reserved | Made with &#10084;&#65039; by O-luwanifemi</p>
</footer>