<section class="hero-parent">
  <section id="hero">
    <section class="cta">
      <h1 class="animate__animated animate__pulse animate__slow animate__infinite	infinite">KOR</h1>

      <p>Hi, my name is Kareem Oluwaseun Rashid.</p>

      <p class="strings">
        I am a Software Engineer, <span class="typer"></span>
      </p>

      <div class="btns">
        <a href="#portfolio" role="button">Checkout Portfolio</a>

        <a href="#contact" role="button">Hire Me!</a>
      </div>
    </section>

    <figure>
      <img src="/Images/programmer-removebg-preview.png" alt="programmer" width="100%">
    </figure>
  </section>
</section>